:host {
  display: block;
}

.spacer {
  @apply basis-1/3 grow shrink;
}

.button {
  @apply bg-black;
  @apply p-4;
  @apply text-white;
  @apply rounded-lg;
  width: 45px;
  height: 45px;
  @apply flex justify-center items-center;
}
